@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif;
}
:root {
  --primary-orange: orange;
  --primary-dark: rgb(255, 255, 255, 0);
}
/* ****************************NAVBAR************************************ */
.logo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 5rem;
  font-weight: 900;
}

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  font-size: 0.8rem;
  border-top: 0.187rem solid var(--primary-dark);
}

.navbar-nav > li > a:focus {
  border-top: 0.187rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.187rem solid var(--primary-orange);
}
